@use 'theme';
@use 'progress-circle';
@use 'toggle-button';
@use 'number-input';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

html {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.progress-container {
  position: relative;
  margin: 2rem auto;
  padding: 5rem 5rem;
  max-width: 568px;
  max-height: 320px;
  display: inline-flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 569px) {
    max-width: 320px;
    max-height: 568px;
    flex-direction: column;
  }

  @media screen and (max-width: 320px) {
    max-width: 320px;
    max-height: 568px;
    padding: 5rem 1rem;
  }

  .progress-container__title {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.progress-circle-container {
  position: relative;
  display: flex;
  justify-content: end;
}

.progress-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .progress-controls__elem {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  @media screen and (max-width: 569px) {
    margin-left: calc(50% - 58px);
  }
}